<% include common/_header %>
<link rel='stylesheet' href='/stylesheets/chat.css' />

<div id="receiveMsg">
  <% rows.forEach(function(row) { %>
    <p><%= row.id %> : <%= row.author %></p>
    <h2><%= row.message %></h2>
  <% }); %>
</div>

<div class="center">
  <form action="" accept-charset="utf-8">
    <input type="text" name="chat_msg" id="chatm" placeholder="メッセージを入力してください">
    <button type="submit">送信</button>
  </form>
</div>

<script>
  $('form').submit(() => {
    console.log($('#chatm').val());
    console.log("SendMessage");
    var msg = $('#chatm').val();
    // メッセージを発射する
    socket.emit('message', { value: msg });
    return false;
  });
</script>

<script src="socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io();
 
socket.on('connect', function(msg) 
{
  console.log("Connect");
});
 
// メッセージを受けたとき
socket.on('message', function(msg) 
{
  console.log("ReceiveMessage");
  // メッセージを画面に表示する
  document.getElementById("receiveMsg").innerHTML += `<p>${msg.value}</p>`;
});
 
// 切断する
function DisConnect() {
  console.log("DisConnect");
  socket.emit('message', { value: "切断しました"})
  // socketを切断する
  socket.disconnect();
}
</script>
<% include common/_footer %>