.content {
  position: relative;
  width: 100%;
  /*height: 500px;*/
}

#receiveMsg {
  position: absolute;
  height: 100%;
  width: 60%;
  /*overflow: auto;*/
}

#content-right {
  position: fixed;
  padding-top: 1em;
  height: 90%;
  width: 400px;
  background-color: #a9a9a9;
  right: 0;
}

#chatm, #usernm {
  width: 90%;
}

#in-content {
  background-color: white;
  /*margin-top: 2em;*/
  height: 300px;
  margin: 10px 10px;
}

#cross-content {
  background-color: white;
  margin-top: 2em;
  padding: 1em 1em;
  height: 300px;
  margin: 10px 10px;
}

li {
  padding: 5px 0;
}

.center {
  text-align: center;
  width: 100%;
}